[submodule "wakanda_corporate"]
	path = wakanda_corporate
	url = https://github.com/omobili/wakanda_corporate.git
[submodule "wakanda_mobile"]
	path = wakanda_mobile
	url = https://github.com/omobili/wakanda_mobile.git
[submodule "iOS7"]
	path = iOS7
	url = https://github.com/omobili/iOS7.git
[submodule "simpleGreen"]
	path = simpleGreen
	url = https://github.com/omobili/simpleGreen.git
